body {

    background-image: url("Img/whatsapp.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-description {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    text-align: center;
}

.business-card {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}
